.venv/
.pytest_cache/
.tox/
.coverage/
.eggs/
.mypy_cache/
.nox/
.build/
.lock/
.cache/
.dist/
.egg-info/
.install/
.pytest_/

etc/
root/
test/

config.py
settings.yml
test01.py

clickhouse-driver/
data/
